@import '_mixins';

.giphy-container {
  max-width: 200px;
  float: right;
  height: 200px;
}

.polaroid-images {
  a {
    font-family: fantasy;
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    @include box-shadow(0 ,4px, 6px, rgba(0,0,0,.3));
    @include transition(all .15s linear);
    z-index:0;
    position:relative;
    @include transform(rotate(4deg));
    @include transform(rotate3d(0,0,1, 4deg));
  }

  a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:15px;
  }

  img, video {
    display: block;
    width: inherit;
  }

  a:hover {
    @include transform(rotate(0deg));
    @include transform(scale(1.5));
    z-index:10;
    @include box-shadow(0 ,10px, 20px, rgba(0,0,0,.7));
  }
}
