<div class="Pollpopulous" ng-controller="mainController" ng-init="init(<%= @candidates %>,<%= @poll_id %>)">
  <div class="row">
    <div class="well">
      <div class="row">
        <div class="col-md-2 hidden-xs">
          <nvd3-pie-chart
          margin="{left:0,top:0,bottom:0,right:0}"
          tooltips="true"
          data="data.candidates"
          class="donut-chart"
          showLabels="false"
          x="descriptionFunction()"
          y="voteCount()"
          width="300"
          height="300"
          donut="true"
          donutRatio=".3"
          donutLabelsOutside="false"
          labelType="percent"
          color="color()"
          objectequality="true"
          transitionduration="500">
            <svg height="300"></svg>
          </nvd3-pie-chart>


        </div>
        <div class="col-md-2">
          <h1><%= @title %></h1>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-10">
          <div class="row">
            <form id="add_candidate_form" ng-submit="addOption()" role="form">
              <div class="form-group">
                <label for="candidate_title">Option</label>
                <input type="text" class="form-control" id="candidate_title" ng-model="data.optionName" name="location" placeholder="Persian Pizza Prince">
                <label for="nickname">Name</label>
                <input type="text" ng-disabled="data.knownSender" class="form-control" id="nickname" name="nickname" placeholder="your name" ng-model="data.nickname">
              </div>
              <button type="submit" class="btn btn-default">Add new option</button>
            </form>
          </div>
        </div>
        <div class="col-md-5 col-sm-4 hidden-xs">
          <mm-giphy keywords="data.keywords" title="{{'There\'ll be cats!'}}" speed-ms="{{3000}}" api-key="{{'dc6zaTOxFJmzC'}}"></mm-giphy>
        </div>
      </div>
      <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
      <mm-alert-box></mm-alert-box>
    </div>

  </div>
  <div class="list-group">
    <div class="list-group-item" ng-repeat="option in data.candidates | orderBy: '-votes.length' ">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="list-group-item-heading">{{option.name}}</h4>

          <p class="list-group-item-text">Votes:
            <span ng-repeat="vote in option.votes" class="glyphicon glyphicon-star-empty"></span></p>
        </div>
        <div class="col-sm-3">
          <div class="btn-group clearfix" style="float:right;">
            <a class="btn btn-primary btn-xs vote" ng-click="vote(option.id)">Vote here</a>
            <a class="btn btn-default btn-xs" ng-click="revokeVote(option,$index)">Revoke Vote</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

