/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fonts
 *= require amelia.theme.bootsrap.css.scss
 *= require nv.d3
 *= require nv.d3.overrides
 *= require_tree .
 *= require_self
 */

body div.container {
    margin-top: 30px;
}

html {
    height:100%;
    width:100%;
}





