@import '_mixins';


/*todo: split this file up*/
.donut-chart {
  @include box-shadow(3px, 3px, 10px, #666);
}

.redForegroundStop1 {
  stop-color: #fff4f3;
  stop-opacity: 1;
}
.redForegroundStop2 {
  stop-color: #ffbdb5;
  stop-opacity: 1;
}

.purpleBackgroundStop1 {
  stop-color: #c7cbf6;
  stop-opacity: 1;
}
.purpleBackgroundStop2 {
  stop-color: #a8aff1;
  stop-opacity: 1;
}



.nvtooltip {
  color: black;
  font-size: 5px;
}
.donut-chart{
  svg {
    width: 150px;
    height: 150px;
  }
}

.chart-holder {
  position:absolute;
}
.well {
  h1 {
    margin-top: 32px;
  }
}

.list-group-item-text {
  span.glyphicon-star-empty {
      color: gold;

  }
}



.cloud {
  background: url(/cloud.svg);
  background-size: 100%;
  width:300px;
  height:300px;
}
.cloud .spacer {
  margin:50px;
}
.cloud .spacer>* {
  text-shadow: 2px 2px #ff0000;
}

.list-group-item {
  background-color: rgba(19, 160, 170,0.5);
}




/**
 * | {@link ng.directive:ngRepeat#usage_animations ngRepeat}    | enter, leave and move
 http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html
 */
.animation {
  @include transition(1s);
}
.animation.ng-enter {
  opacity:0;
}
.animation.ng-leave {
  opacity: 1;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;

}
/*when clicked close() or alert is dropped off the array*/
.animation.ng-leave.ng-leave-active {
  opacity: 0;
  @include transform-origin('0 0');
  @include animation('bounceOut ease 4s 1');
}
/*http://www.markskowrondesign.com/blog/are-your-css3-animations-broken-in-ie10-and-ie11/*/
@include keyframes(bounceOut) {
  0% {
    opacity:1;
    /*transform:  translate(0px,0px)  ;*/
    @include translate(0px,0px);
  }
  20% {
    opacity:1;
    @include translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    @include translate(-1000px,0px)  ;
  }
}

/*  http://www.cssanimate.com/ */
.alert-box {
  position:fixed;
  top:0;
  left:0;
  padding: 15px;
  max-width: 50%;
  min-width: 300px;
}

$sort-animation-speed: 0.2s;
/* keep in sync with svg-pie */
$star-animation-speed: 0.5s;
.list-group-item {
  @include transition($sort-animation-speed);
  &.ng-move {
    background: rgba(255, 215, 0, 0.8);
  }
  &.ng-move-active {
    /*background: rgba(255, 255, 255, 0.8);*/
  }
}
span.glyphicon-star-empty {
  @include transition($star-animation-speed);
  opacity: 1;

  @include animation-timing-function(ease-in);
  &.ng-enter {
    @include translate-rotate(100px,0px,360);
    opacity:0.1;
    color: lightgreen;
  }
  &.ng-enter.ng-enter-active {

    @include translate(0px,0px);
    opacity:1;


    color: lightblue;
  }
  &.ng-leave {
    @include translate(-100px,0px);
    opacity:0;
  }
}

body .well {
  // why does this not kick in??
  background-color: #0d747c;
  background: #0d747c;
  //background-color: rgba(13, 116, 124, 0.5);
}