// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins';

input {
  color:#000000;
}

body {
  height:100%;
  width:100%;
  background-color: #108a93;
  position: relative;
  overflow: hidden;
}

body:before {
  background-color: #108a93;
  content:"";
  position: absolute;
  width: 100%;
  height:100%;
  top:-30px;
  background-image: url(/animated_launch_day.svg);
  opacity: 0.75;
}

body.rolling:before {
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  @include scale-rotate(0.8, 0);
  @include animation(spin 222s linear infinite);
}

@include keyframes('spin') {
  100% {
    @include scale-rotate(0.8,360);
  }
};
