<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pollpopulous</title>
  <meta name="description" content="">
  <meta name="keywords" content="ad-hoc voting system">
  <meta name="viewport" content="width=device-width">
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- TODO: put back in when online <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
  <%= stylesheet_link_tag    'application', media:'all','data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>-->
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css"/>-->
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/amelia/bootstrap.min.css"/>-->


  <!-- Latest compiled and minified JavaScript -->
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->

  <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' type='text/css'>-->
  <script type="text/javascript">
      $(document).ready(function() {
          console.log('dom ready');
      });
  </script>
</head>
<body class="<%= params[:controller] %>">
<div class="container">
<%= yield %>
</div>
</body>
</html>
